<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.oc.delivery.repository.DeliveryFeeRuleDetailMapper">
    <insert id="batchInsert" parameterType="list" useGeneratedKeys="true" keyColumn="id">
        insert into delivery_fee_rules_detail (delivery_fee_rule_id,min_distance,max_distance,first_weight,first_fee,additional_weight,additional_fee)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.deliveryFeeRuleId},#{item.minDistance},#{item.maxDistance},#{item.firstWeight},#{item.firstFee},#{item.additionalWeight},#{item.additionalFee}
            )
        </foreach>
    </insert>

    <update id="updateBatch" parameterType="list">
        update delivery_fee_rules_detail
        <trim prefix="set">
            <trim prefix="min_distance = case" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="item.minDistance != null">when id = #{item.id} then #{item.minDistance}</if>
                </foreach>
            </trim>
            <trim prefix="max_distance = case" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="item.maxDistance != null">when id = #{item.id} then #{item.maxDistance}</if>
                </foreach>
            </trim>
            <trim prefix="first_weight = case" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="item.firstWeight != null">when id = #{item.id} then #{item.firstWeight}</if>
                </foreach>
            </trim>
            <trim prefix="first_fee = case" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="item.firstFee != null">when id = #{item.id} then #{item.firstFee}</if>
                </foreach>
            </trim>
            <trim prefix="additional_weight = case" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="item.additionalWeight != null">when id = #{item.id} then #{item.additionalWeight}</if>
                </foreach>
            </trim>
            <trim prefix="additional_fee = case" suffix="end">
                <foreach collection="list" item="item">
                    <if test="item.additionalFee != null">when id = #{item.id} then #{item.additionalFee}</if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="list" separator="or" item="item">
            id=#{item.id}
        </foreach>
    </update>

    <select id="search" parameterType="map" resultType="com.lhiot.oc.delivery.entity.DeliverFeeRuleDetail">
        select first_weight,first_fee,additional_weight,additional_fee
        from delivery_fee_rules_detail b
        left join delivery_fee_rules a on a.id = b.delivery_fee_rule_id
        where a.min_order_amount &lt;= #{orderFee} AND a.max_order_amount &gt; #{orderFee}
        AND b.min_distance &lt;= #{distance} AND b.max_distance &gt; #{distance}
        AND (a.delivery_at_type = #{deliveryAtType} OR a.delivery_at_type = 'All') ORDER BY a.update_at DESC LIMIT 1
    </select>

    <delete id="deleteById" parameterType="Long">
        delete from delivery_fee_rules_detail where id = #{0}
    </delete>
    
    <delete id="deleteByRuleId" parameterType="Long">
        delete from delivery_fee_rules_detail
        where delivery_fee_rule_id = #{0}
    </delete>

    <delete id="batchDelete" parameterType="list">
        delete from delivery_fee_rules_detail
        where id in
        <foreach collection="list" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
    </delete>
    
</mapper>