<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.oc.delivery.repository.DeliverOrderProductMapper">

    <!-- 数据库字段对象关系映射 -->
    <resultMap id="BaseResultMap"
        type="com.lhiot.oc.delivery.model.DeliverProduct" >
        <id column="id" property="id"/>
        <result column="deliver_base_order_id" property="deliverBaseOrderId" />
        <result column="barcode" property="barcode" />
        <result column="price" property="price" />
        <result column="standard_price" property="standardPrice" />
        <result column="product_qty" property="productQty" />
        <result column="standard_qty" property="standardQty" />
        <result column="base_weight" property="baseWeight" />
        <result column="discount_price" property="discountPrice" />
        <result column="product_name" property="productName" />
        <result column="image" property="image" />
        <result column="small_image" property="smallImage" />
        <result column="large_image" property="largeImage" />
    </resultMap>

    <!-- base查询字段  -->
    <sql id="Base_Column_List" >
        <trim suffixOverrides="," >
            id,
            deliver_base_order_id,
            barcode,
            price,
            standard_price,
            product_qty,
            standard_qty,
            discount_price,
            product_name,
            image,
            small_image,
            large_image,
            base_weight,
        </trim>
    </sql>
    <!--批量新增配送订单商品列-->
    <insert id="createInBatch" parameterType="java.util.List"
        useGeneratedKeys="true" keyProperty="id">
        insert into deliver_order_product(
        deliver_base_order_id,
        barcode,
        price,
        standard_price,
        product_qty,
        standard_qty,
        discount_price,
        product_name,
        image,
        small_image,
        large_image,
        base_weight)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.deliverBaseOrderId}, #{item.barcode},
              #{item.price},#{item.standardPrice},#{item.productQty},
              #{item.standardQty},#{item.discountPrice},#{item.productName},
              #{item.image},#{item.smallImage},#{item.largeImage},#{item.baseWeight}
            )
        </foreach>
    </insert>

    <!--根据id修改配送订单商品列-->
    <update id="updateById" parameterType="com.lhiot.oc.delivery.model.DeliverProduct">
        update deliver_order_product
        <set>
            <if test="id != null ">
                id = #{id},
            </if>
            <if test="deliverBaseOrderId != null ">
                deliver_base_order_id = #{deliverBaseOrderId},
            </if>
            <if test="barcode != null ">
                barcode = #{barcode},
            </if>
            <if test="price != null ">
                price = #{price},
            </if>
            <if test="standardPrice != null ">
                standard_price = #{standardPrice},
            </if>
            <if test="productQty != null ">
                product_qty = #{productQty},
            </if>
            <if test="standardQty != null ">
                standard_qty = #{standardQty},
            </if>
            <if test="discountPrice != null ">
                discount_price = #{discountPrice},
            </if>
            <if test="productName != null ">
                product_name = #{productName},
            </if>
            <if test="image != null ">
                image = #{image},
            </if>
            <if test="smallImage != null ">
                small_image = #{smallImage},
            </if>
            <if test="largeImage != null ">
                large_image = #{largeImage},
            </if>
            <if test="baseWeight != null ">
                base_weight = #{baseWeight},
            </if>
        </set>
        where id=#{id}
    </update>

    <!--根据ids删除配送订单商品列-->
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from deliver_order_product where id in
        <foreach collection="list" item="item" open="("
            separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- 根据id查找配送订单商品列 -->
	<select id="selectById" resultMap="BaseResultMap"
		parameterType="long"> select <include refid="Base_Column_List" />
		from deliver_order_product where id = #{id}
	</select>


    <!-- base where条件  -->
    <sql id="Base_Where_Condition" >
        <where>
            <if test="id != null ">
                and id = #{id}
            </if>
            <if test="deliverBaseOrderId != null ">
                and deliver_base_order_id = #{deliverBaseOrderId}
            </if>
            <if test="barcode != null ">
                and barcode = #{barcode}
            </if>
            <if test="price != null ">
                and price = #{price}
            </if>
            <if test="standardPrice != null ">
                and standard_price = #{standardPrice}
            </if>
            <if test="productQty != null ">
                and product_qty = #{productQty}
            </if>
            <if test="standardQty != null ">
                and standard_qty = #{standardQty}
            </if>
            <if test="discountPrice != null ">
                and discount_price = #{discountPrice}
            </if>
            <if test="productName != null ">
                and product_name = #{productName}
            </if>
            <if test="image != null ">
                and image = #{image}
            </if>
            <if test="smallImage != null ">
                and small_image = #{smallImage}
            </if>
            <if test="largeImage != null ">
                and large_image = #{largeImage}
            </if>
            <if test="baseWeight != null ">
                and base_weight = #{baseWeight}
            </if>
        </where>
    </sql>


    <!--查询配送订单商品列列表-->
     <select id="pageDeliverOrderProducts" resultMap="BaseResultMap"
        parameterType="com.lhiot.oc.delivery.model.DeliverProduct">
	        select <include refid="Base_Column_List" />
	        from deliver_order_product
	        <include refid="Base_Where_Condition" />
	        <include refid="common.pager" />
    </select>

    <!--查询配送订单商品列总记录-->
    <select id="pageDeliverOrderProductCounts" resultType="long"
        parameterType="com.lhiot.oc.delivery.model.DeliverProduct">
            select count(1)
            from deliver_order_product
            <include refid="Base_Where_Condition" />
    </select>

</mapper>