<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.oc.delivery.mapper.DeliverNoteMapper">

    <!-- 数据库字段对象关系映射 -->
    <resultMap id="BaseResultMap"
        type="com.lhiot.oc.delivery.domain.DeliverNote" >
        <id column="id" property="id"/>
        <result column="deliver_code" property="deliverCode" />
        <result column="order_id" property="orderId" />
        <result column="create_time" property="createTime" />
        <result column="deliver_name" property="deliverName" />
        <result column="deliver_phone" property="deliverPhone" />
        <result column="distance" property="distance" />
        <result column="fee" property="fee" />
        <result column="order_code" property="orderCode" />
        <result column="deliver_type" property="deliverType" />
        <result column="failure_cause" property="failureCause" />
        <result column="cancel_time" property="cancelTime" />
        <result column="receive_time" property="receiveTime" />
        <result column="deliver_status" property="deliverStatus" />
        <result column="store_code" property="storeCode" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- base查询字段  -->
    <sql id="Base_Column_List" >
        <trim suffixOverrides="," >
            id,
            deliver_code,
            order_id,
            create_time,
            deliver_name,
            deliver_phone,
            distance,
            fee,
            order_code,
            deliver_type,
            failure_cause,
            cancel_time,
            receive_time,
            deliver_status,
            store_code,
            remark,
        </trim>
    </sql>

    <!--新增配送单信息-->
    <insert id="create" parameterType="com.lhiot.oc.delivery.domain.DeliverNote" useGeneratedKeys="true" keyProperty="id">
        insert into deliver_note
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null ">
                id,
            </if>
            <if test="deliverCode != null ">
                deliver_code,
            </if>
            <if test="orderId != null ">
                order_id,
            </if>
            <if test="createTime != null ">
                create_time,
            </if>
            <if test="deliverName != null ">
                deliver_name,
            </if>
            <if test="deliverPhone != null ">
                deliver_phone,
            </if>
            <if test="distance != null ">
                distance,
            </if>
            <if test="fee != null ">
                fee,
            </if>
            <if test="orderCode != null ">
                order_code,
            </if>
            <if test="deliverType != null ">
                deliver_type,
            </if>
            <if test="failureCause != null ">
                failure_cause,
            </if>
            <if test="cancelTime != null ">
                cancel_time,
            </if>
            <if test="receiveTime != null ">
                receive_time,
            </if>
            <if test="deliverStatus != null ">
                deliver_status,
            </if>
            <if test="storeCode != null ">
                store_code,
            </if>
            <if test="remark != null ">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null ">
                #{id},
            </if>
            <if test="deliverCode != null ">
                #{deliverCode},
            </if>
            <if test="orderId != null ">
                #{orderId},
            </if>
            <if test="createTime != null ">
                #{createTime},
            </if>
            <if test="deliverName != null ">
                #{deliverName},
            </if>
            <if test="deliverPhone != null ">
                #{deliverPhone},
            </if>
            <if test="distance != null ">
                #{distance},
            </if>
            <if test="fee != null ">
                #{fee},
            </if>
            <if test="orderCode != null ">
                #{orderCode},
            </if>
            <if test="deliverType != null ">
                #{deliverType},
            </if>
            <if test="failureCause != null ">
                #{failureCause},
            </if>
            <if test="cancelTime != null ">
                #{cancelTime},
            </if>
            <if test="receiveTime != null ">
                #{receiveTime},
            </if>
            <if test="deliverStatus != null ">
                #{deliverStatus},
            </if>
            <if test="storeCode != null ">
                #{storeCode},
            </if>
            <if test="remark != null ">
                #{remark},
            </if>
        </trim>
    </insert>

    <!--根据id修改配送单信息-->
    <update id="updateById" parameterType="com.lhiot.oc.delivery.domain.DeliverNote">
        update deliver_note
        <set>
            <if test="id != null ">
                id = #{id},
            </if>
            <if test="deliverCode != null ">
                deliver_code = #{deliverCode},
            </if>
            <if test="orderId != null ">
                order_id = #{orderId},
            </if>
            <if test="createTime != null ">
                create_time = #{createTime},
            </if>
            <if test="deliverName != null ">
                deliver_name = #{deliverName},
            </if>
            <if test="deliverPhone != null ">
                deliver_phone = #{deliverPhone},
            </if>
            <if test="distance != null ">
                distance = #{distance},
            </if>
            <if test="fee != null ">
                fee = #{fee},
            </if>
            <if test="orderCode != null ">
                order_code = #{orderCode},
            </if>
            <if test="deliverType != null ">
                deliver_type = #{deliverType},
            </if>
            <if test="failureCause != null ">
                failure_cause = #{failureCause},
            </if>
            <if test="cancelTime != null ">
                cancel_time = #{cancelTime},
            </if>
            <if test="receiveTime != null ">
                receive_time = #{receiveTime},
            </if>
            <if test="deliverStatus != null ">
                deliver_status = #{deliverStatus},
            </if>
            <if test="storeCode != null ">
                store_code = #{storeCode},
            </if>
            <if test="remark != null ">
                remark = #{remark},
            </if>
        </set>
        where id=#{id}
    </update>

    <!--根据ids删除配送单信息-->
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from deliver_note where id in
        <foreach collection="list" item="item" open="("
            separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- 根据id查找配送单信息 -->
	<select id="selectById" resultMap="BaseResultMap"
		parameterType="long"> select <include refid="Base_Column_List" />
		from deliver_note where id = #{id}
	</select>
    <!--依据配送单编码查询-->
    <select id="selectByDeliverCode" resultMap="BaseResultMap"
            parameterType="String"> select <include refid="Base_Column_List" />
        from deliver_note where deliver_code = #{0}
    </select>


    <!-- 根据id查找配送单信息 -->
    <select id="selectByOrderId" resultMap="BaseResultMap"
            parameterType="long">
        select <include refid="Base_Column_List" />
        from deliver_note where order_id = #{id} order by id desc
    </select>

    <select id="selectLastByOrderId" resultMap="BaseResultMap"
            parameterType="long">
        select <include refid="Base_Column_List" />
        from deliver_note where order_id = #{id} order by id desc limit 1
    </select>
    <!-- base where条件  -->
    <sql id="Base_Where_Condition" >
        <where>
            <if test="id != null ">
                and id = #{id}
            </if>
            <if test="deliverCode != null ">
                and deliver_code = #{deliverCode}
            </if>
            <if test="orderId != null ">
                and order_id = #{orderId}
            </if>
            <if test="createTime != null ">
                and create_time = #{createTime}
            </if>
            <if test="deliverName != null ">
                and deliver_name = #{deliverName}
            </if>
            <if test="deliverPhone != null ">
                and deliver_phone = #{deliverPhone}
            </if>
            <if test="distance != null ">
                and distance = #{distance}
            </if>
            <if test="fee != null ">
                and fee = #{fee}
            </if>
            <if test="orderCode != null ">
                and order_code = #{orderCode}
            </if>
            <if test="deliverType != null ">
                and deliver_type = #{deliverType}
            </if>
            <if test="failureCause != null ">
                and failure_cause = #{failureCause}
            </if>
            <if test="cancelTime != null ">
                and cancel_time = #{cancelTime}
            </if>
            <if test="receiveTime != null ">
                and receive_time = #{receiveTime}
            </if>
            <if test="deliverStatus != null ">
                and deliver_status = #{deliverStatus}
            </if>
            <if test="storeCode != null ">
                and store_code= #{storeCode}
            </if>
            <if test="remark != null ">
                and remark = #{remark}
            </if>
        </where>
    </sql>


    <!--查询配送单信息列表-->
     <select id="pageDeliverNotes" resultMap="BaseResultMap"
        parameterType="com.lhiot.oc.delivery.domain.DeliverNote">
	        select <include refid="Base_Column_List" />
	        from deliver_note
	        <include refid="Base_Where_Condition" />
	        <include refid="common.pager" />
    </select>

    <!--查询配送单信息总记录-->
    <select id="pageDeliverNoteCounts" resultType="long"
        parameterType="com.lhiot.oc.delivery.domain.DeliverNote">
            select count(1)
            from deliver_note
            <include refid="Base_Where_Condition" />
    </select>

</mapper>