<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.oc.order.mapper.BaseOrderMapper">
    <insert id="insert" parameterType="com.lhiot.oc.order.entity.BaseOrder" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO base_order (order_code,application_type,user_id,nickname,total_amount,delivery_amount,coupon_amount,amount_payable,receiving_way,status
        ,receive_user,contact_phone,address,hd_status,remark,delivery_end_at,hd_order_code,deliver_at,allow_refund,create_at,order_type)
        VALUE (#{code},#{applicationType},#{userId},#{nickname},#{totalAmount},#{deliveryAmount},#{couponAmount},#{amountPayable},#{receivingWay},#{status}
        ,#{receiveUser},#{contactPhone},#{address},#{hdStatus},#{remark},#{deliveryEndAt},#{hdOrderCode},#{deliverAt},#{allowRefund},#{createAt},#{orderType})
    </insert>

    <update id="updateOrderStatusById" parameterType="com.lhiot.oc.order.entity.BaseOrder">
        update base_order set status = #{status}
        where id=#{id}
    </update>

    <update id="updateOrderStatusByCode" parameterType="com.lhiot.oc.order.entity.BaseOrder">
        update base_order set status = #{status}
        <trim suffixOverrides=",">
            <if test="hdStockAt != null"> ,hd_stock_at = #{hdStockAt}</if>
            <if test="hdStatus != null">,hd_status = #{hdStatus}</if>
        </trim>
        where order_code=#{code}
    </update>

    <update id="updateStatusByDisposeRefund" parameterType="map">
        update base_order set status = #{status}
        where order_code=#{code} and status = 'RETURNING'
    </update>

    <update id="updateHdOrderCodeById" parameterType="com.lhiot.oc.order.entity.BaseOrder">
        update base_order set hd_order_code = #{hdOrderCode}
        where id=#{id}
    </update>


    <select id="selectById" parameterType="long" resultType="com.lhiot.oc.order.model.OrderDetailResult">
        SELECT  <include refid="columns"/>
        FROM base_order
        WHERE id = #{0}
    </select>

    <select id="selectByCode" parameterType="String" resultType="com.lhiot.oc.order.model.OrderDetailResult">
        SELECT  <include refid="columns"/>
        FROM base_order
        WHERE order_code = #{0}
    </select>

    <select id="selectListByUserIdAndOrderType" resultMap="orderDetails" parameterType="map">
        select a.id, order_code as code, application_type, user_id, order_type, nickname, total_amount, delivery_amount, coupon_amount,
            amount_payable, receiving_way, status, receive_user, contact_phone, address, hd_status, remark, delivery_end_at, hd_stock_at,
            a.hd_order_code, deliver_at, allow_refund, a.create_at,
            b.id as opid,b.order_id,b.barcode,b.total_price,b.product_name,b.specification_id,b.product_qty,b.shelf_qty,b.refund_status,b.discount_price,
            b.image,b.total_weight,b.shelf_id,
            c.store_id,c.store_name,c.store_code
        from base_order a
        left join order_product b on a.id = b.order_id
        left join order_store c on a.hd_order_code = c.hd_order_code
        inner join (select id from base_order where user_id = #{userId} and order_type = #{orderType}) bo
        where a.id = bo.id
    </select>


    <sql id="columns">
        <trim suffixOverrides=",">
            id,
            order_code as code,
            application_type,
            user_id,
            order_type,
            nickname,
            total_amount,
            delivery_amount,
            coupon_amount,
            amount_payable,
            receiving_way,
            status,
            receive_user,
            contact_phone,
            address,
            hd_status,
            remark,
            delivery_end_at,
            hd_stock_at,
            hd_order_code,
            deliver_at,
            allow_refund,
            create_at
        </trim>
    </sql>

    <resultMap id="orderDetails" type="com.lhiot.oc.order.model.OrderDetailResult">
        <id column="id" javaType="Long" jdbcType="BIGINT" property="id" />
        <result column="code" property="code" />
        <result column="application_type"  property="applicationType" />
        <result column="order_type" property="orderType"/>
        <result column="user_id"  property="userId" />
        <result column="nickname"  property="nickname" />
        <result column="total_amount" property="totalAmount" />
        <result column="delivery_amount" property="deliveryAmount" />
        <result column="coupon_amount" property="couponAmount" />
        <result column="amount_payable" property="amountPayable" />
        <result column="receiving_way" property="receivingWay" />
        <result column="status" property="status" />
        <result column="receive_user" property="receiveUser" />
        <result column="contact_phone" property="contactPhone" />
        <result column="address" property="address" />
        <result column="hd_status" property="hdStatus" />
        <result column="remark" property="remark" />
        <result column="delivery_end_at" property="deliveryEndAt" />
        <result column="hd_stock_at" property="hdStockAt" />
        <result column="hd_order_code" property="hdOrderCode"/>
        <result column="deliver_at" property="deliverAt"/>
        <result column="allow_refund" property="allowRefund"/>
        <result column="create_at" property="createAt"/>
        <association property="orderStore" javaType="com.lhiot.oc.order.entity.OrderStore">
            <result column="store_id" property="storeId"/>
            <result column="store_name" property="storeName"/>
            <result column="store_code" property="storeCode"/>
        </association>
        <collection  property="orderProductList"  ofType="com.lhiot.oc.order.entity.OrderProduct">
            <id column="opid" property="id"/>
            <result column="order_id" property="orderId" />
            <result column="specification_id" property="specificationId" />
            <result column="barcode" property="barcode" />
            <result column="total_price" property="totalPrice" />
            <result column="product_qty" property="productQty" />
            <result column="shelf_qty" property="shelfQty" />
            <result column="refund_status" property="refundStatus" />
            <result column="discount_price" property="discountPrice" />
            <result column="product_name" property="productName" />
            <result column="image" property="image" />
            <result column="total_weight" property="totalWeight" />
            <result column="shelf_id" property="shelfId" />
        </collection>
    </resultMap>
</mapper>