<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.order.mapper.OrderProductMapper">
      <!--lynn 批量新增 -->                          
      <insert id="createInBatch" parameterType="java.util.List">
		  INSERT INTO order_product(order_id,standard_id,price,standard_price,product_qty,standard_qty,refund_status,discount_price,
		  assortment_id,product_name,image,small_image,large_image)
	      VALUE
	      <foreach collection="list" item="item" separator=",">
	          (
	          #{item.orderId},#{item.standardId},#{item.price},#{item.standardPrice},#{item.productQty},#{item.standardQty},#{item.refundStatus},#{item.discountPrice},
	          #{item.assortmentId}, #{item.productName},#{item.productImage},#{item.smallImage},#{item.largeImage}
	          )
      </foreach>
    </insert>
    
    <!-- lynn 根据套餐id查询套餐商品 -->
    <select id="findProductByAssortmentIds" parameterType="java.util.List"
    	resultType="com.lhiot.order.domain.OrderProduct">
    	select * from order_product
    	<trim prefix="where" prefixOverrides="and">
    		<if test="orderId != null">
    			and order_id = #{orderId}
    		</if>
    		<if test="assortmentIds != null">
    			and assortment_id in 
		    	<foreach collection="assortmentIds" item="item" open="(" separator="," close=")">
		    		#{item}
		    	</foreach>
    		</if>
    	</trim>
    </select>

    <select id="findProductByAssortmentId" parameterType="com.lhiot.order.domain.OrderAssortment"
            resultType="com.lhiot.order.domain.OrderProduct">
        select * from order_product
        <trim prefix="where" prefixOverrides="and">
            <if test="orderId != null">
                and order_id = #{orderId}
            </if>
            <if test="assortmentId != null">
                and assortment_id  = #{assortmentId}
            </if>
        </trim>
    </select>
    
    <!--新增-->
    <insert id="create" parameterType="com.lhiot.order.domain.OrderProduct" useGeneratedKeys="true" keyProperty="id">
        insert into order_product(
                <trim suffixOverrides=",">
                        id,
                        order_id,
                        standard_id,
                        price,
                        standard_price,
                        product_qty,
                        standard_qty,
                        refund_status,
                        discount_price,
                        assortment_id,
                        product_name,
                        image,
                        small_image,
                        large_image
                </trim>
        )VALUES (
                    <trim suffixOverrides=",">
                            #{id},
                            #{orderId},
                            #{standardId},
                            #{price},
                            #{standardPrice},
                            #{productQty},
                            #{standardQty},
                            #{refundStatus},
                            #{discountPrice},
                            #{assortmentId},
                           #{item.productName},
                        #{item.productImage},
                        #{item.smallImage},
                        #{item.largeImage}
                    </trim>
        )
    </insert>
    <!--修改-->
    <update id="updateById" parameterType="com.lhiot.order.domain.OrderProduct">
        update order_product
        <trim prefix="set" suffixOverrides=",">
             <if test="orderId!=null">
                 order_id = #{orderId},
             </if>
             <if test="standardId!=null">
                 standard_id = #{standardId},
             </if>
             <if test="price!=null">
                 price = #{price},
             </if>
             <if test="standardPrice!=null">
                 standard_price = #{standardPrice},
             </if>
             <if test="productQty!=null">
                 product_qty = #{productQty},
             </if>
             <if test="standardQty!=null">
                 standard_qty = #{standardQty},
             </if>
             <if test="refundStatus!=null">
                 refund_status = #{refundStatus},
             </if>
             <if test="discountPrice!=null">
                 discount_price = #{discountPrice},
             </if>
             <if test="assortmentId!=null">
                 assortment_id = #{assortmentId},
             </if>
        </trim>
        where id=#{id}
    </update>
    <!--依据编号删除-->
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from order_product where id
        in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--查询-->
    <select id="list" parameterType="com.lhiot.order.domain.OrderProduct"
            resultType="com.lhiot.order.domain.OrderProduct">
        select * from order_product
            <where>
                    <if test="id!=0 ">
                        and id = #{id}
                    </if>
                    <if test="orderId!=0 ">
                        and order_id = #{orderId}
                    </if>
                    <if test="standardId!=0 ">
                        and standard_id = #{standardId}
                    </if>
                    <if test="price!=0 ">
                        and price = #{price}
                    </if>
                    <if test="standardPrice!=0 ">
                        and standard_price = #{standardPrice}
                    </if>
                    <if test="productQty!=0 ">
                        and product_qty = #{productQty}
                    </if>
                    <if test="standardQty!=null and standardQty!='null' and standardQty!=''">
                        and standard_qty = #{standardQty}
                    </if>
                    <if test="refundStatus!=null and refundStatus!='null' and refundStatus!=''">
                        and refund_status = #{refundStatus}
                    </if>
                    <if test="discountPrice!=0 ">
                        and discount_price = #{discountPrice}
                    </if>
                    <if test="assortmentId!=0 ">
                        and assortment_id = #{assortmentId}
                    </if>
            </where>
    </select>

    <!--分页查询-->
    <select id="page" parameterType="map"
            resultType="com.lhiot.order.domain.OrderProduct">
        select * from order_product
        <where>
                    <if test="id!=0 ">
                        and id = #{id}
                    </if>
                    <if test="orderId!=0 ">
                        and order_id = #{orderId}
                    </if>
                    <if test="standardId!=0 ">
                        and standard_id = #{standardId}
                    </if>
                    <if test="price!=0 ">
                        and price = #{price}
                    </if>
                    <if test="standardPrice!=0 ">
                        and standard_price = #{standardPrice}
                    </if>
                    <if test="productQty!=0 ">
                        and product_qty = #{productQty}
                    </if>
                    <if test="standardQty!=null and standardQty!='null' and standardQty!=''">
                        and standard_qty = #{standardQty}
                    </if>
                    <if test="refundStatus!=null and refundStatus!='null' and refundStatus!=''">
                        and refund_status = #{refundStatus}
                    </if>
                    <if test="discountPrice!=0 ">
                        and discount_price = #{discountPrice}
                    </if>
                    <if test="assortmentId!=0 ">
                        and assortment_id = #{assortmentId}
                    </if>
        </where>
        <include refid="common.pager"></include>
    </select>

    <!--查询总记录数-->
    <select id="pageQueryCount" parameterType="map"
            resultType="Integer">
        select count(id) from order_product
        <where>
                    <if test="id!=0 ">
                        and id = #{id}
                    </if>
                    <if test="orderId!=0 ">
                        and order_id = #{orderId}
                    </if>
                    <if test="standardId!=0 ">
                        and standard_id = #{standardId}
                    </if>
                    <if test="price!=0 ">
                        and price = #{price}
                    </if>
                    <if test="standardPrice!=0 ">
                        and standard_price = #{standardPrice}
                    </if>
                    <if test="productQty!=0 ">
                        and product_qty = #{productQty}
                    </if>
                    <if test="standardQty!=null and standardQty!='null' and standardQty!=''">
                        and standard_qty = #{standardQty}
                    </if>
                    <if test="refundStatus!=null and refundStatus!='null' and refundStatus!=''">
                        and refund_status = #{refundStatus}
                    </if>
                    <if test="discountPrice!=0 ">
                        and discount_price = #{discountPrice}
                    </if>
                    <if test="assortmentId!=0 ">
                        and assortment_id = #{assortmentId}
                    </if>
        </where>
    </select>


    <select id="findById" parameterType="Long" resultType="com.lhiot.order.domain.OrderProduct">
        select * from order_product where id=#{0}
    </select>

    <select id="findOrderProductsByOrderId" parameterType="Long" resultType="com.lhiot.order.domain.OrderProduct">
        select * from order_product where order_id=#{0}
    </select>

	<!-- lynn 根据订单id及套餐id及修改订单商品的状态 -->
	<update id="updateByOrderIdAndAssortmentId" parameterType="map">
		update order_product set refund_status = #{refundStatus}
		<trim prefix="where" prefixOverrides="and">
			<if test="orderId != null">
				and order_id = #{orderId}
			</if>
			<if test="assortmentIds != null">
				and assortment_id in 
				<foreach collection="assortmentIds" item="item" separator="," open="(" close=")">
					#{item}
				</foreach>
			</if>
		</trim>
	</update>





    <select id="findProductsByOrderIdAndStandId" parameterType="map" resultType="com.lhiot.order.domain.OrderProduct">
        SELECT id,order_id AS orderId,standard_id AS standardId,price,standard_price AS standardPrice,product_qty AS productQty
        ,standard_qty AS standardQty,refund_status AS refundStatus,discount_price AS discountPrice
        FROM order_product
        WHERE order_id = #{orderId} AND standard_id IN
        <foreach collection="standardIds" item="item" separator="," close=")" open="(">
            #{item}
        </foreach>
    </select>

    <select id="findRefundProductsByOrderId" parameterType="long" resultType="com.lhiot.order.domain.OrderProduct">
        SELECT id,order_id AS orderId,standard_id AS standardId,price,standard_price AS standardPrice,product_qty AS productQty
        ,standard_qty AS standardQty,refund_status AS refundStatus,discount_price AS discountPrice
        FROM order_product
        WHERE order_id = #{0} and refund_status='REFUND'
    </select>

    <update id="updateProductByStandardId" parameterType="map">
        UPDATE order_product SET refund_status = #{refundStatus}
        WHERE order_id = #{orderId} AND standard_id IN
        <foreach collection="standardIds" item="item" separator="," close=")" open="(">
            #{item}
        </foreach>
    </update>
</mapper>