<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.oc.order.mapper.OrderProductMapper">

    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyColumn="id">
        INSERT INTO order_product(order_id,specification_id,barcode,
        total_price,product_qty,specification_qty,refund_status,discount_price,
        product_name,image,total_weight,source_id,source_type)
        VALUE
        <foreach collection="list" item="item" separator=",">
            (
            #{item.orderId},#{item.specificationId},#{item.barcode},#{item.totalPrice},#{item.productQty},
            #{item.specificationQty},#{item.refundStatus},#{item.discountPrice},
            #{item.productName}, #{item.image},#{item.totalWeight},#{item.sourceId},#{item.sourceType}
            )
        </foreach>
    </insert>

    <select id="findOrderProductsByOrderId" parameterType="Long" resultType="com.lhiot.oc.order.model.OrderProduct">
        select * from order_product where order_id=#{0}
    </select>

    <update id="updateOrderProductByIds" parameterType="map">
        UPDATE order_product SET refund_status = #{refundStatus}
        WHERE order_id = #{orderId} AND id IN
        <foreach collection="orderProductIds" item="item" separator="," close=")" open="(">
            #{item}
        </foreach>
    </update>
</mapper>