<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.order.mapper.OrderRefundMapper">
    <!--新增-->
    <insert id="create" parameterType="com.lhiot.order.domain.OrderRefund" useGeneratedKeys="true" keyProperty="id">
        insert into order_refund(
                <trim suffixOverrides=",">
                        id,
                        order_id,
                        order_code,
                        reason,
                        refund_at,
                        user_id,
                        refund_fee,
                        transaction_no,
                </trim>
        )VALUES (
                    <trim suffixOverrides=",">
                            #{id},
                            #{orderId},
                            #{orderCode},
                            #{reason},
                            #{refundAt},
                            #{userId},
                            #{refundFee},
                            #{transactionNo},
                    </trim>
        )
    </insert>
    <!--修改-->
    <update id="updateById" parameterType="com.lhiot.order.domain.OrderRefund">
        update order_refund
        <set>
                    <if test="id!=null">
                        id = #{id},
                    </if>
                    <if test="orderId!=null">
                        order_id = #{orderId},
                    </if>
                    <if test="orderCode!=null">
                        order_code = #{orderCode},
                    </if>
                    <if test="reason!=null">
                        reason = #{reason},
                    </if>
                    <if test="refundAt!=null">
                        refund_at = #{refundAt},
                    </if>
                    <if test="userId!=null">
                        user_id = #{userId},
                    </if>
                    <if test="refundFee!=null">
                        refund_fee = #{refundFee},
                    </if>
                    <if test="transactionNo!=null">
                        transaction_no = #{transactionNo},
                    </if>
        </set>
        where id=#{id}
    </update>
    <!--依据编号删除-->
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from order_refund where id
        in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--查询-->
    <select id="list" parameterType="com.lhiot.order.domain.OrderRefund"
            resultType="com.lhiot.order.domain.OrderRefund">
        select * from order_refund
            <where>
                    <if test="id!=0 ">
                        and id = #{id}
                    </if>
                    <if test="orderId!=0 ">
                        and order_id = #{orderId}
                    </if>
                    <if test="orderCode!=null and orderCode!='null' and orderCode!=''">
                        and order_code = #{orderCode}
                    </if>
                    <if test="reason!=null and reason!='null' and reason!=''">
                        and reason = #{reason}
                    </if>
                    <if test="refundAt!=null and refundAt!='null' and refundAt!=''">
                        and refund_at = #{refundAt}
                    </if>
                    <if test="userId!=0 ">
                        and user_id = #{userId}
                    </if>
                    <if test="refundFee!=null and refundFee!='null' and refundFee!=''">
                        and refund_fee = #{refundFee}
                    </if>
                    <if test="transactionNo!=null and transactionNo!='null' and transactionNo!=''">
                        and transaction_no = #{transactionNo}
                    </if>
            </where>
    </select>

    <!--分页查询-->
    <select id="page" parameterType="com.lhiot.order.domain.OrderRefund"
            resultType="com.lhiot.order.domain.OrderRefund">
        select * from order_refund
        <where>
                    <if test="id!=0 ">
                        and id = #{id}
                    </if>
                    <if test="orderId!=0 ">
                        and order_id = #{orderId}
                    </if>
                    <if test="orderCode!=null and orderCode!='null' and orderCode!=''">
                        and order_code = #{orderCode}
                    </if>
                    <if test="reason!=null and reason!='null' and reason!=''">
                        and reason = #{reason}
                    </if>
                    <if test="refundAt!=null and refundAt!='null' and refundAt!=''">
                        and refund_at = #{refundAt}
                    </if>
                    <if test="userId!=0 ">
                        and user_id = #{userId}
                    </if>
                    <if test="refundFee!=null and refundFee!='null' and refundFee!=''">
                        and refund_fee = #{refundFee}
                    </if>
                    <if test="transactionNo!=null and transactionNo!='null' and transactionNo!=''">
                        and transaction_no = #{transactionNo}
                    </if>
        </where>
        <include refid="common.pager"></include>
    </select>

    <!--查询总记录数-->
    <select id="pageQueryCount" parameterType="com.lhiot.order.domain.OrderRefund"
            resultType="Integer">
        select count(id) from order_refund
        <where>
                    <if test="id!=0 ">
                        and id = #{id}
                    </if>
                    <if test="orderId!=0 ">
                        and order_id = #{orderId}
                    </if>
                    <if test="orderCode!=null and orderCode!='null' and orderCode!=''">
                        and order_code = #{orderCode}
                    </if>
                    <if test="reason!=null and reason!='null' and reason!=''">
                        and reason = #{reason}
                    </if>
                    <if test="refundAt!=null and refundAt!='null' and refundAt!=''">
                        and refund_at = #{refundAt}
                    </if>
                    <if test="userId!=0 ">
                        and user_id = #{userId}
                    </if>
                    <if test="refundFee!=null and refundFee!='null' and refundFee!=''">
                        and refund_fee = #{refundFee}
                    </if>
                    <if test="transactionNo!=null and transactionNo!='null' and transactionNo!=''">
                        and transaction_no = #{transactionNo}
                    </if>
        </where>
    </select>


    <select id="findById" parameterType="Long" resultType="com.lhiot.order.domain.OrderRefund">
        select * from order_refund where id=#{0}
    </select>

</mapper>